*{
   
    margin: auto;
}
.container{
    background-color: #F5E8C7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 60%;
}
.header{
    width: 100%;
    background-color: #ECCCB2;
}
.sidebar ul{
    list-style-type: none;
    overflow: hidden;
    
}
.sidebar ul li{
   float: left;
    display: contents;
    background-color: #DEB6AB;
    margin: 5px;
    padding: 0;
}
.sidebar ul li a{
    text-decoration:none;
 }
.content{
    margin: 5px, 0px;
}
.footer{
    background-color: #ECCCB2;
}
